.Cookie {
    width: 160px;
    height: 80px;
    background-color: #25201D;
    border-radius: 50%;
    border: 1px solid aliceblue;
    margin: auto;
    position:relative
}

.Cookie:last-of-type {
    margin-bottom: 0% !important;
}

.Cookie.white {
    width: 140px;
    height: 70px;
    background-color: #f0f8ff;
    margin-bottom: -15% !important;
    border: 1px solid #25201D;
}

.white:has(+ .white) {
    margin-bottom: -55px !important;
}

.black:has(+ .black) {
    margin-bottom: -50px !important;
}

.white:has(+ .black) {
    margin-bottom: -70px !important;
}

.black:has(+ .white) {
    margin-bottom: -55px !important;
}